Repository go-swagger/go-swagger, pull requests merged in 2023-12, with the labels that each got.

#3027 doc(example): fixed doc for custom-server example
  examples/tutorials/custom-server/README.md
Labels: doc, examples

#3022 fix(faq): updating doc to get swagger UI
  docs/faq/faq_documenting.md
Labels: doc

#3024 fix(mangling): fixes name mangling in the presence of a special character
  fixtures/bugs/2821/ServiceManagementBody.json
  generator/model_test.go
  generator/template_repo_test.go
  go.mod
  go.sum
Labels: generator, model

#3025 fix(flatten): flatten should remove unused models recursively
  go.mod
  go.sum
Labels: flatten

#3029 test(client): added dynamic test to assert path params
  fixtures/bugs/1083/pathparam_test.go
  fixtures/bugs/1083/petstore.yaml
  generator/generate_test.go
Labels: generate client

#3030 fixed client generation test re sensitiveness to GOPATH
  generator/client_test.go
Labels: generate client

#3032 fix(strfmt): stricter UUID validation
  go.mod
  go.sum
Labels: validator

#3034 fix(validations): fixed missing validation in embedded structs
  fixtures/bugs/2604/2604.yaml
  generator/model.go
  generator/moreschemavalidation_fixtures_test.go
  generator/moreschemavalidation_test.go
Labels: validator

#3031 feat(validation): added --rooted-error-path to generate models
  cmd/swagger/commands/generate/model.go
  docs/generate/model.md
  fixtures/bugs/2597/2597.yaml
  generator/model.go
  generator/model_test.go
  generator/shared.go
  generator/structs.go
  generator/template_repo.go
  generator/templates/schemavalidator.gotmpl
  generator/templates/validation/customformat.gotmpl
  generator/templates/validation/maximum.gotmpl
  generator/templates/validation/minimum.gotmpl
  generator/templates/validation/multipleOf.gotmpl
  generator/templates/validation/primitive.gotmpl
  generator/utils_test.go
Labels: validator, error messages

#3033 fix(validations): fixed MinProperties/MaxProperties
  fixtures/bugs/2587/2587.yaml
  fixtures/enhancements/2163/fixture-2163.yaml
  fixtures/enhancements/2444/fixture-2244.yaml
  generator/model.go
  generator/moreschemavalidation_fixtures_test.go
  generator/moreschemavalidation_test.go
  generator/structs.go
  generator/templates/docstring.gotmpl
  generator/templates/schemavalidator.gotmpl
  generator/templates/validation/structfield.gotmpl
Labels: validator
